#sketchH {grid-area: sketchH;}
#colorH {grid-area: colorH;}
#renderH {grid-area: renderH;}
#lineH {grid-area: lineH;}
#paintingH {grid-area: paintingH;}

#sketchImg {grid-area: sketchImg;}
#colorImg {grid-area: colorImg;}
#renderImg {grid-area: renderImg;}
#lineImg { grid-area: lineImg;}
#paintingImg {grid-area: paintingImg;}

#sketchP {grid-area: sketchP;}
#colorP {grid-area: colorP;}
#renderP {grid-area: renderP;}
#lineP { grid-area: lineP;}
#paintingP {grid-area: paintingP;}



.disclaimer {
    font-family: 'DM Mono', monospace;
    font-size: 12px;
    font-weight: normal;
    color: var(--buttonCaption);
}


.commItem img {
    width: 100%;
    user-select: none;
    pointer-events: none;
}

img {
    pointer-events: none;
}

#paintingImg {
    width: 205%;
}



.commContainer {
    display: grid;
    column-gap: 20px;
    row-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-areas: 
    'sketchH colorH'
    'sketchImg colorImg'
    'sketchP colorP'

    'renderH lineH'
    'renderImg lineImg'
    'renderP lineP'

    'paintingH paintingH'
    'paintingImg paintingImg'
    'paintingP paintingP';
}

.commItem p {
    font-size: 13px;
    color: var(--buttonCaption);
}

.cHead h2 {
    font-size: 15px;
    margin-block-start: 20px;
}


.commContainer table {
    width: 100%; 
    font-family: 'DM Mono', monospace;
    font-size: 13px;
    margin-block-end: 20px;
}
.commContainer td {
    text-align: right;
}

.disclaimer a {
    color: var(--link);
}

.tos ul {
    padding: 20px;
}

.tos li{
    list-style-type: disc;
    font-size: 14px;
    line-height: 20px;
    padding: 2px;
}

.backLink {
    margin-block-end: 20px;
}

.outline {
    width: 100%;
}

@media only screen and (min-width: 481px) {
    .commContainer {
        grid-template-columns: 177px 177px 177px;

        grid-template-areas: 
        'sketchH colorH renderH'
        'sketchImg colorImg renderImg'
        'sketchP colorP renderP'
    
        'lineH paintingH paintingH'
        'lineImg paintingImg paintingImg'
        'lineP paintingP paintingP';
    }
    
}



@media only screen and (min-width: 769px) {
    .commContainer {
        grid-template-columns: auto auto auto auto auto;
        grid-template-areas: 
        'sketchH colorH renderH lineH paintingH'
        'sketchImg colorImg renderImg lineImg paintingImg'
        'sketchP colorP renderP lineP paintingP';
        overflow: scroll;
    }
}