@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
    background-color: black;
    color: black;
    font-family: 'Rubik', sans-serif;
    width: 90vw;
}

#col1 {
    color: white;
    background-color: black;
}

#col2 {
    background-color: black;
}

ul {
    list-style-type: none;
    padding: 0px;
}

a {
    text-decoration: none;

}

h1, h2, h3, h4 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    
}

#tabs {
    
    font-family: 'Rubik';
    font-weight: bold;
    user-select: none;
}

#tabs ul{
    display: block;
    
    margin: auto;
}

#tabs li {
    font-size: 13px;
    display: inline-block; 
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
}



#tabs a {
    color: greenyellow;
}

.section {
    
}

#links {
    background-color: black;
    color: white;
    border-radius: 0px 10px 10px 10px;
    padding: 20px 0px;
}

#links ul, #aboutSec div {
    margin-block-start: 0px;
    
}

#links a {
    color: black
}

#links li {
    background-color: white;
    color: black;
    padding: 10px 20px;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    align-items: center;
}

#links h4 {
    font-size: 13px;
    padding-block-end: 10px;
}


#links i {
    padding: 0px 5px 0px 0px;
}

#tabs ul {
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: auto !important;
    overflow: hidden;

    
    
}

#aboutSec {
    
}


.section {
    display:  none;
}

.selected {
    display: block !important;
}

.selectedTab {
    background-color: white !important;
    color: black !important;
    transition: 0.5s;
}

#sidebar h1 {
    font-size: 30px;
}

#sidebar h2 {
    font-size: 15px;
    /* font-family: 'DM Mono', monospace;*/
    font-weight: normal;
}

#sidebar p {
    font-size: 15px;
}





/*mobile*/

body {
    margin: 30px auto;
}

#col1 {
    background-color: rgb(0, 0, 0);
}

#col2 {
    background-color: rgb(0, 0, 0);
}

#sidebar {
    padding: 20px;
}



/*tablet*/

@media only screen and (min-width: 481px) {
    body {
        width: 70vw;
        margin: 80px auto;
    }

    #col1, #col2 {
        float: left;
    }

    #col1 {
        width: 40%;
        
    }

    #col2 {
        width: 60%;
    }

    #about, #links {
        
        margin: auto;
    }

    #sidebar h1 {
        font-size: 24px;
    }
    
    #sidebar h2 {
        font-size: 14px;
        /* font-family: 'DM Mono', monospace;*/
        font-weight: normal;
    }
    
    #sidebar p {
        font-size: 14px;
    }
    

}

/*desktop*/

@media only screen and (min-width: 769px) {
    body {
        width: 60vw;
    }

    #col1, #col2 {
        float: left;
    }

    #col1 {
        width: 35%;
    }

    #col2 {
        width: 65%;
    }
}


/*large desktop*/
@media only screen and (min-width: 769px) {
    body {
        width: 50vw;
    }

    #col1, #col2 {
        float: left;
    }

    #col1 {
        width: 35%;
    }

    #col2 {
        width: 65%;
    }
}


