@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
    --background: black;
    --text: #fff;
    --link: #D1F22A;
    --button: #FFF;
    --buttonText: #fff;
    --icon: #D1F22A;
    --buttonCaption: rgb(179, 175, 175);
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Rubik', sans-serif;
    width: 90vw;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--buttonCaption);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--link);
  }

a {
    text-decoration: none;
    color: var(--link);
}



#col1 {
    background-color: var(--background);
}

#col1 a {
    text-decoration: underline;
}

#col2 {
    color: var(--text);
}

ul {
    list-style-type: none;
    padding: 0px;
}



h1, h2, h3, h4 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    
}

#tabs {
    
    font-family: 'Rubik';
    font-weight: bold;
    user-select: none;
}

#tabs ul{
    display: block;
    margin: auto;
}

#tabs li {
    font-size: 13px;
    display: inline-block; 
    background-color: var(--background);
    color: var(--text);
    padding: 10px;
    border-radius: 0px;
    border-bottom: 2px solid var(--background);

}

.tab:hover {
    border-bottom-color: var(--link) !important;
    transition: 0.5s;
    
}


.iconLinks li {
    display: inline-block;
    width: 10%;
    text-align: center;
}

#tabs a {
    color: var(--buttonText);
}

#links {
    background-color: var(--background);
    color: var(--button);
    border-radius: 0px 10px 10px 10px;
    padding: 20px 0px;
}

#links ul, #aboutSec div {
    margin-block-start: 0px;
    
}

#links a {
    color: var(--buttonText)
}

#links li {
    background-color: var(--background);
    padding: 7px 0px;
    margin: 0px 0px 10px 0px;
    border-radius: 5px;
    align-items: center;
}

#links h4 {
    font-size: 13px;
    padding-block-end: 10px;
    font-weight: normal;
    font-family: 'DM Mono', monospace;
    color: var(--buttonCaption);
}

#ratfestivalSec h3:hover {
    text-decoration:underline;
    text-decoration-color: var(--link);
}


#links i {
    padding: 0px 5px 0px 0px;
}

#tabs ul {
    overflow-x: scroll;
    white-space: nowrap;
    scroll-behavior: auto !important;
    overflow: hidden;

    
    
}

#aboutSec {
    color: var(--text);
}


.section {
    display:  none;
}

.selected {
    display: block !important;
}

.selectedTab {   
    border-bottom-color: #D1F22A !important;
    transition: 0.5s;
}

#titles {
    display: block;
}
#sidebar h1 {
    font-size: 30px;
    display: inline-block;

}

#sidebar h2 {
    font-size: 15px;
    font-family: 'DM Mono', monospace;
    font-weight: normal;
    color: var(--buttonCaption);
}

#sidebar p, #aboutSec p {
    font-size: 15px;
    line-height: 20px;
}

table {
    font-size: 14px;
    text-align: left;
}

tr {
    margin-block-end: 10px;
}

table {
    border: none;
}
th {
    font-weight: 500;
}

th, td {
    padding: 5px 0px;
}

#zineList {
    margin-block-start: 3px;
    margin-block-end: 3px;
}
#zineList li{
    margin: 1px 0px;
    padding: 0px;
}

tbody {
    vertical-align: top;
}



/*mobile*/

body {
    margin: 30px auto;
}

#col1 {
    background-color: var(--background);
}

#col2 {
    background-color: var(--background);
}

#sidebar {
    padding: 0px;
}

#aboutSec a {
    color: var(--link);
    text-decoration: underline;
}









/*tablet*/



@media only screen and (min-width: 481px) {


    

    body {
        width: 70vw;
        margin: 80px auto;
    }

    #col1, #col2 {
        float: left;
    }

    #col1 {
        width: 40%;
        
    }

    #col2 {
        width: 60%;
    }

    #about, #links {
        
        margin: auto;
    }

    #sidebar h1, #sidebar h2 {
        display: block;
    }

    #sidebar h1 {
        font-size: 24px;
    }
    
    #sidebar h2 {
        font-size: 12px;
        padding-block-start: 5px;
        /* font-family: 'DM Mono', monospace;*/
        font-weight: normal;
    }
    
    #sidebar p, #aboutSec p {
        font-size: 14px;
        line-height: 19px;
    }

    #sidebar {
        padding-right: 20px;
    }
    

}

/*desktop*/

@media only screen and (min-width: 769px) {
    body {
        width: 60vw;
    }

    #col1, #col2 {
        float: left;
    }

    #col1 {
        width: 35%;
    }

    #col2 {
        width: 65%;
    }
}


/*large desktop*/
@media only screen and (min-width: 769px) {
    body {
        width: 50vw;
    }

    #col1, #col2 {
        float: left;
    }

    #col1 {
        width: 35%;
    }

    #col2 {
        width: 65%;
    }
}


