@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
    width: 90vw;
}


/*mobile*/

body {
    margin: 30px auto;
}

#col1 {
    background-color: rgb(0, 0, 0);
}

#col2 {
    background-color: rgb(0, 0, 0);
}


/*tablet*/

@media only screen and (min-width: 481px) {
    body {
        margin: 30px auto;
    }

    #col1, #col2 {
        float: left;
    }

    #col1 {
        width: 40%;
        
    }

    #col2 {
        width: 60%;
    }

    #about, #links {
        width: 90%;
        margin: auto;
    }
}

/*desktop*/

@media only screen and (min-width: 769px) {
    body {
        width: 80vw;
        margin: 30px auto;
    }

    #col1, #col2 {
        float: left;
    }

    #col1 {
        width: 35%;
    }

    #col2 {
        width: 65%;
    }
}


/*large desktop*/
@media only screen and (min-width: 769px) {
    body {
        width: 75vw;
        margin: 30px auto;
    }

    #col1, #col2 {
        float: left;
    }

    #col1 {
        width: 30%;
    }

    #col2 {
        width: 70%;
    }
}


